@import "fonts";

* {
  margin: 0;
  padding: 0;
  font-family: "StratosSkyeng Web", sans-serif;
}

.background {
  position: relative;
  background: #004980;
  width: 100vw;
  height: fit-content;
}

@import "difficulty";
@import "game";
@import "result";
